<div class="text-center">
  <p class="brewery">{{ site.title }}</p>

  <strong>{{ site.company }}</strong><br>
  <address>{{ site.address }}</address>

  <p>
    <a href="{{ site.facebook }}">Facebook</a>
  </p>
</div>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.673625826835633%2C50.13461618295377%2C4.6756401658058175%2C50.13555660809981&amp;layer=mapnik&amp;marker=50.135086397837284%2C4.6746329963207245" style="width: 100%; height: 350px;"></iframe>
